tqdm
wandb
scipy
timm
scikit-learn
hydra-core
numpy   
debugpy
tensorflow
ipykernel
colorlog
pandas
obspy
umap-learn
omegaconf
imblearn
plotly
imageio
imageio[ffmpeg]
geopandas
haikunator 
ffmpeg
scikit-image
nais
contextily
--extra-index-url http://wcomp2/python/ --trusted-host wcomp2 seismonpy
--extra-index-url http://wcomp2/python/ --trusted-host wcomp2 multitaper
